@use "bootstrap/scss/bootstrap-grid.scss" as *;

@use "./settings" as *;

html {
  height: 100%;

  font-size: 16px;

  scroll-behavior: smooth;

  -webkit-text-size-adjust: 100%;
}

body {
  position: relative;

  overflow-x: hidden;

  min-width: 320px;

  font-size: 16px;
  line-height: 1.4;
  font-family: $default-font;
  font-weight: 400;

  color: $text1;

  background: $background-color;
}

.wrapper {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

.main {
  flex-grow: 1;
}
