@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-tablet: 40rem; /* 640 */
  --breakpoint-laptop: 64rem; /* 1024 */
  --breakpoint-desktop: 80rem; /* 1280 */
  --breakpoint-2xl: 90rem; /* 1440 */
  --breakpoint-3xl: 100rem; /* 1600 */
}
