---
import './heroview.scss'
---


<section class="heroview">
  <div class="container mx-auto px-6">
    <div class="grid grid-cols-1 tablet:grid-cols-2 laptop:grid-cols-3 gap-6">
      <div class="mb-5 p-4 bg-gray-200">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cumque exercitationem eaque est in consequatur facere commodi pariatur placeat doloremque soluta quos officia maxime officiis debitis quas, quaerat perspiciatis asperiores!
        </p>
      </div>
      <div class="mb-5 p-4 bg-gray-200">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cumque exercitationem eaque est in consequatur facere commodi pariatur placeat doloremq pariatur placeat doloremque soluta pariatur placeat doloremque soluta pariatur placeat doloremque soluta pariatur placeat doloremque solutaue soluta quos officia maxime officiis debitis quas, quaerat perspiciatis asperiores!
        </p>
      </div>
      <div class="mb-5 p-4 bg-gray-200">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa cumque exercitationem eaque est in consequatur facere commodi pariatur placeat doloremque soluta quos officia maxime officiis debitis quas, quaerat perspiciatis asperiores!
        </p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6">
      <picture>
        <img src="images/person-default.jpg" alt="картинка" width="200" height="200" decoding="async" loading="lazy">
      </picture>
    </div>
  </div>
  
  <form class="form">
    <input type="text" placeholder="Enter the text..." required>
    <button>submit</button>
  </form>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum labore quasi voluptates quo laboriosam impedit similique neque debitis vel? Odit, minus quod. Maxime vero rem quibusdam repellendus hic quas iure non temporibus debitis! Dolorum, officiis eveniet explicabo illo modi ab perferendis sit earum, voluptas neque rem sequi fugiat, reprehenderit voluptates. Neque delectus incidunt voluptate perferendis alias aperiam beatae nulla consequatur rem quas, culpa, sit labore quisquam! Nobis deleniti, eaque, minima reiciendis facilis laudantium fugit maiores, expedita consequatur deserunt ipsa! Explicabo officiis illum possimus similique consequuntur. Consectetur, libero! Voluptatibus, iste aliquam, quasi sit autem rem non eos, debitis vel minus quaerat exercitationem quae suscipit nulla? Iure, illum! Iste aliquid natus aspernatur aperiam esse ipsum nisi nihil obcaecati recusandae voluptates eum dicta temporibus reprehenderit hic beatae ullam sequi repellendus, quo ex ab. Harum dolores dicta id ut ad, dignissimos velit fugit est eligendi eius expedita, possimus quasi ullam exercitationem dolore neque quia. Cumque delectus vel doloremque beatae eum velit debitis necessitatibus itaque temporibus provident illo veritatis animi voluptatum, similique ullam officia optio nisi esse magnam atque. Ullam quibusdam laboriosam porro soluta pariatur id tenetur dolor alias consequatur veniam iure libero, labore nesciunt dignissimos dolorem doloremque blanditiis adipisci perferendis eos maxime repudiandae incidunt? Eligendi error, et laudantium reprehenderit, unde ratione nesciunt quo praesentium ipsum alias quasi? Voluptate, error enim neque quod sunt iste doloremque praesentium fuga voluptas soluta molestias tenetur sed harum odit blanditiis nulla illo vitae ipsa ullam! Culpa soluta enim, quis cupiditate praesentium voluptas fugiat omnis magni minus at tempore explicabo quas alias voluptatum, architecto temporibus recusandae. Itaque repudiandae eos ratione repellat ipsam similique velit id explicabo, quis exercitationem unde ab fugit iure aspernatur blanditiis rerum praesentium minima? Magnam nemo deleniti nobis, mollitia error adipisci sequi inventore. Recusandae ex, sapiente est sit ad quas quis accusantium esse, maxime inventore labore quidem aut ratione minima ut quibusdam vero consectetur id quo minus! Aperiam pariatur veritatis cumque commodi architecto optio ea vero fuga voluptatum dolorem tempora recusandae excepturi ut incidunt repellendus, esse, neque consectetur nobis perspiciatis beatae in. Eos doloremque ipsum eaque, itaque aut unde aliquam sequi excepturi ex, assumenda, deleniti sunt reprehenderit possimus voluptate explicabo expedita odit! Natus quos neque in architecto quasi, illo, dicta repellat pariatur iste qui eos eligendi aperiam. Eveniet sequi dolorum ex obcaecati voluptatum laborum pariatur nostrum molestiae iusto cupiditate dignissimos tempore aut culpa vitae esse itaque maxime debitis labore iste vero ea voluptas, dicta quod? Animi, consectetur deserunt voluptatem iste temporibus eius illum quod veniam repudiandae. Impedit veniam facere officia natus mollitia? Commodi dolores molestias aliquam praesentium fugiat porro in suscipit dolor perspiciatis. Temporibus magnam nam reprehenderit facilis! Id perspiciatis iure ipsam magnam! Est reprehenderit, eius cupiditate eaque quaerat minus? Aperiam quam voluptatem fugiat voluptas saepe quibusdam suscipit? Accusamus enim blanditiis expedita porro ducimus fugit in unde accusantium placeat consectetur quas adipisci, commodi dignissimos soluta maxime rem excepturi et cupiditate rerum quaerat dicta sapiente qui repellat. Alias voluptatem facilis sequi enim dolorum voluptate culpa omnis et natus nesciunt nostrum laboriosam veniam, impedit eligendi doloribus dolores, architecto labore.
  </p>
  
</section>